canvas {
    max-width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #5A6637;
}

@media (orientation: portrait) {
    body {
        min-height: 80vh;
    }
}