canvas {
    max-width: min(calc(100% - 50px), 1000px);
    max-height: max(calc(100% - 50px), 800px);
    margin:25px;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}
.overlay{
    padding:25px 50px;;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body,html{
    height: 100%;
}
body {
    height:100%;
    margin: 0;
    background-color: #5A6637;
    color:#1d2011;
    font-family: 'Bevellier', sans-serif;
}
